@use '../custom'as *;
@use '../components/mixins'as *;

.hero-section {
    padding: 10rem 0 0 0;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 10rem;

    position: relative;

    .hero--text {
        margin-top: 4rem;
    }
    
    .image-box {
        right: 0;
        
        img {
            width: 100%;
        }
        
        .bg-custom {
            @include bg-custom(left, 25vh);
        }
        
    }

    .hero--btn {
        display: flex;
        justify-content: center;
        gap: 1em;
    }
    
    @include media-breakpoint-up(md) {
        .hero--text {
            padding-right: 4rem;
        }
        .hero--btn {
            justify-content: left;
            gap: 1.5em;
        }

    }
}