@use '../custom'as *;
@use '../components/button'as *;

.menu {
    ul {
        padding-right: 1.5rem;

        li {
            padding: 0 1.5rem;

            a {
                color: hsl(229, 31%, 21%);
                font-weight: 500;

                &:hover {
                    color: $secondary;
                }
            }
        }
    }


}


.btn-rounded {

    &--primary {
        @include btn-rounded($primary);
    }

    &--secondary {
        @include btn-rounded($secondary);
    }

    &--light {
        @include btn-rounded(rgba(128, 128, 128, 0.2));
    }
}